.card {
 display: flex;
 flex-direction: column;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 width: 180px;
 padding: 15px;
 transition: all 0.3s ease;
 background-color: #fff;

 &:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  .card-header {
   border: 1px solid #ccc;
  }
 }

 &-header {
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;

  img {
   width: 100%;
   height: 100%;
   min-height: 180px;
  }

  &__title {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 5px 10px;
   background-color: #30bced;
   color: #fff;
   border-radius: 0px 5px 0px 5px;
   text-transform: capitalize;
   max-width: calc(100% - 20px);
   overflow: hidden;
   text-overflow: ellipsis;
  }
 }

 &-body {
  width: 100%;
  margin-bottom: 10px;

  &__labels {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   gap: 4px;

   .abilities {
    border: 2px solid #6ee8de;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    opacity: 0.4;
    color: #555;
    cursor: default;

    &:hover {
     opacity: 1;
     background-color: #6ee8de;
    }
   }
  }
 }

 &-footer {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-top: auto;

  &__details {
   display: flex;
   align-items: center;
   background: #eee;
   padding: 5px 10px;
   border-radius: 20px;
   font-size: 12px;

   .height {
    display: flex;

    &:after {
     display: block;
     content: "";
     width: 2px;
     height: 15px;
     background-color: #888;
     margin: 0 4px;
     border-radius: 4px;
    }
   }
  }

  &__add-fav {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 20px;
   width: 20px;
   padding: 5px;
   border-radius: 20px;
   background: #e3bdf4;
   cursor: pointer;
  }
 }
}

:global(.card-footer__add-fav svg) {
    width: 16px;
    height: 16px;
}

:global(.card-footer__add-fav svg path) {
 stroke: #fff;
}

:global(.card-footer__add-fav:hover svg path) {
 stroke: #fb7676;
}

:global(.card-footer__add-fav.liked svg path) {
 fill: #fb7676;
 stroke: #fb7676;
}
